  body{
    background-color: burlywood;
    
    font-family: 'Alegreya Sans SC';
}
  .navbar
  {
      /*position: fixed;*/
      margin: 0px;
      padding: 0px;
      width: 100%;
      overflow: hidden;
      background-color:black;

  }
  .symbole 
  {
      font-size: 30px;
      font-weight: bolder;
      color:white;
  }
  .navbar-style
  {
      
      padding: 1%;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      color:white;
  }
  .input-field{
      
      position:absolute;
      left: 25%;
      font-size: larger;
      border-radius: 5px;
      border-style: none;
      width: 40%;
    
  }
   a
  {
      
      
      font-size: 20px;
      font-weight: bolder;
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
      margin-right: 18px;
      color:white;
      
      font-weight: 1px;
  }
.row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three unequal columns that sits next to each other */
  .column {
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.side {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
  }
  
  /* Middle column */
  .column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  
  /* Style the footer */
  .footer {
    background-color:black;
    padding: 10px;
    color:white;
    text-align: center;
  }
  
  


