body{
  
  font-family: sourse Sans pro;
  background: black;
  background-image: url(background.jpg);
  background-size: contain;
}

/* navbar styling  */
.navbar
{
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 99%;
    overflow: hidden;
    /* background:url(background.jpg) no-repeat center; */
    background: transparent;
    border-radius: 10px;

}

.symbole 
{
    font-size: 30px;
    font-weight: bolder;
    color:white;
    
}
.navbar-style
{
    
    padding: 1%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    color:white;
}
.input-field{
    
    position:absolute;
    left: 25%;
    font-size: larger;
    border-radius: 5px;
    border-style: none;
    width: 40%;
  
}

/* link styling */
 a
{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 18px;
    color:white;
    font-weight: 1px;
}


/* link hover effects */

.li::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  opacity: 0.7;
  background: -webkit-linear-gradient(left , powderblue , white);
  transition: 0.3s;
}
.li:hover::after{
  width:120%;
  transition: width .4s;
  color: rgb(22, 235, 171);
}

/* input field */

input{
  height:30px;opacity:.5;
  border-style:none ;
}
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
  margin-top: 65px;
  
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1; 
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

td{
  font-size: 15px;
  color: white;
  text-align: center;
  top: -3px;
  opacity: 0.7;

}
td:hover{
 
  opacity: 0.9;

}

table{
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    left:7%;
    border-spacing: 0 1em;
    border-collapse: collapse;
    border:hidden;
    height: 90%;
    box-sizing: border-box;
  box-shadow: 0 15px 25px black;
  border-radius: 10px;
}

.footer {
  background-color:black;
  padding: 10px;
  color:white;
  text-align: center;
}

.circle{
  margin: 50px 0px 0px 120px;
  display: flex;
  border: 1px solid rgb(11, 132, 212);
  cursor: pointer;
  width: 25%;
  height: 24vh;
  border-radius: 360px;
  background: -webkit-linear-gradient(left , rgb(18, 109, 214),rgb(13, 117, 177));
  opacity: 0.5;
  text-align: center; 
  transition: .5s;
}
.circle h1{
  margin: 50px 0px 0px 0px;
}
.circle:hover{
    transform: scale(1.3);
    box-shadow: 2px 2px 2px 2px #fff;

}
.circle-2{
  margin: -180px 0px 0px 280px;
  border: 1px solid rgb(11, 132, 212);
  cursor: pointer;
  width: 25%;
  height: 24vh;
  border-radius: 360px;
  background: -webkit-linear-gradient(left , rgb(18, 109, 214),rgb(13, 117, 177));
  opacity: 0.5;
  text-align: center; 
  transition: .5s;
}
.circle-2 h1{
  margin: 50px 0px 0px 10px;
}
.circle-2:hover{
  transform: scale(1.3);
  box-shadow: 2px 2px 2px 2px #fff;

}
.circle-3{
  margin: -50px 0px 0px 190px;
  border: 1px solid rgb(11, 132, 212);
  cursor: pointer;
  width: 25%;
  height: 24vh;
  border-radius: 360px;
  background: -webkit-linear-gradient(left , rgb(18, 109, 214),rgb(13, 117, 177));
  opacity: 0.5;
  text-align: center; 
  transition: .5s;
}

.circle-3 h1{
  margin: 70px 0px 0px 10px;
}

.circle-3:hover{
  transform: scale(1.3);
  box-shadow: 2px 2px 2px 2px #fff;
}

 

.button:hover{
    transform: scale(1.2);
    border-radius: 5px;
    transition: 0.5s;
    
}

.footer {
  background-color:black;
  padding: 10px;
  color:white;
  text-align: center;
}
.button {
  display: block;
  position: relative;
  width: 65%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  left: 6%;
}
.home-page,.find-blood{
  border:  blue;
}


.blood{
  border:  blue;
  margin-left: -10px;
}

.login-box {
 
  width: 400px;
  position:absolute;
  bottom: -30px;
  left: 1230px;
  bottom: 20px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(15, 122, 221, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px black;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  border-color:rgb(33, 124, 167) ;
  color: #fff;
  border-radius: 5px;
 
}

.login-box a span {
  position: absolute;
  display: block;
}
