  body{
    background-color: burlywood;
    
    font-family: 'Alegreya Sans SC';
}
  .navbar
  {
      /*position: fixed;*/
      margin: 0px;
      padding: 0px;
      width: 100%;
      overflow: hidden;
      background-color:black;

  }
  .symbole 
  {
      font-size: 30px;
      font-weight: bolder;
      color:white;
  }
  .navbar-style
  {
      
      padding: 1%;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      color:white;
  }
  .input-field{
      
      position:absolute;
      left: 25%;
      font-size: larger;
      border-radius: 5px;
      border-style: none;
      width: 40%;
    
  }
   a
  {
      
      
      font-size: 20px;
      font-weight: bolder;
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
      margin-right: 18px;
      color:white;
      
      font-weight: 1px;
  }
  


