body{
  
    font-family: sourse Sans pro;
    
    background: rgb(248, 242, 242);
    background-size: cover;
    width: 100%;
    
  }
  
  /* navbar styling  */
  .navbar
  {
      position: fixed;
      margin: 0px;
      padding: 0px;
      width: 99%;
      overflow: hidden;
      /* background:url(background.jpg) no-repeat center; */
      background-color: rgb(65, 132, 158);
      border-radius: 10px;
  
  }
  
  .symbole 
  {
      font-size: 30px;
      font-weight: bolder;
      color:white;
      
  }
  .navbar-style
  {
      
      padding: 1%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      color:white;
  }
  .input-field1{
      
      position:absolute;
      left: 25%;
      font-family: sourse Sans pro;
      font-size: larger;
      border-radius: 5px;
      border-style: none;
      width: 40%;
    
  }
  
  /* link styling */
   .li
  {
      font-size: 20px;
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
      margin-right: 18px;
      color:white;
      font-weight: 1px;
  }
  
  
  /* link hover effects */
  
  .li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    opacity: 0.7;
    background: -webkit-linear-gradient(left , rgb(193, 191, 212) , rgb(196, 89, 63));
    transition: 0.3s;
  }
  .li:hover::after{
    width:110%;
    transition: width .4s;
    color: rgb(224, 189, 185);
  }
  
  /* input field */
  
  input{
    height:30px;
    opacity:.5;
    /* border-style:none; */
  }

  * {box-sizing: border-box;}
  .contact{
        align-self: center;
        max-width:500px;
      
        padding-right: 13px;
        padding-left: 13px;
        padding-bottom: 13px;
        background-color: rgb(248, 242, 242);
       
  

        
        
  }
.box{
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 50vw;
  margin: 50px auto;
  background: rgb(248, 242, 242);
  border-radius: 5px;
  
}
  
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 2px;
    height:5vh;
    

  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    
    outline: none;
    
    margin-left: 5px;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(110, 180, 212);
    color: white;
    text-align: center;
  }
